<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head></head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta name="viewport"
      content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
<meta name="format-detection" content="telephone=no,email=no,adress=no"/>
<title>首页</title>
<link rel="stylesheet" type="text/css" href="/funds/ui-choose.css"/>
<link rel="stylesheet" type="text/css" href="/funds/common.css"/>
<!--<script type="text/javascript" src="/funds/jquery.js"></script>-->
<script type="text/javascript" src="/funds/column.js"></script>

<link rel="stylesheet" type="text/css" href="/funds/index.css"/>

<style>
    .zijinchi {
        background-color: #0caffa;
    }
</style>


<body>
<!-- 页面头部 -->
<section>
    <div class="navigation-bar"><a href="javascript:history.go(-1)" class="z-01"></a><span>资金情况</span></div>

</section>
<!-- 中间内容 -->

<div style="font-size: 18px;text-align: center;" class="zijinchi">
    <p style="margin-top: 0">资金池</p>
    <p style="margin-bottom: 0;color: red">10000元</p>
</div>


<div class="main">
    <div class="cre-tabs">
        <div class="tab-border"></div>
        <a id="one1" onClick="setTab('one',1,2)" class="hover" style="width: 45%">收入</a>
        <span class="split-line ">|</span>
        <a id="one2" onClick="setTab('one',2,2)" style="width: 45%">支出</a>
    </div>
    <div class="invest_menuinfo" id="con_one_1" style="background: #eee">

        <ul class=" ui-choose " id="selecttime" style="text-align: center; width: 100%">
            <li style="width: 33%">年</li>
            <li style="width: 33%">月</li>
            <li style=" width: 34%;">日</li>
        </ul>
        <div class=" invest_menuinfo" style="background-color: rebeccapurple;">
            <div class="clear"></div>
            <ul class="term">
                <li style="width: 100%;height: 25px;"><a href="#">收入</a></li>
            </ul>
        </div>
        <div class="index-list-wrap" id="incomes">
            <!--车-->
            <div class="index-pad" th:each="income : ${IncomeModel.Incomes}">
                <a class="index-list index-fang" href="#">
                    <div class="list-tit clear"><span
                            class="fl tit-name"><i></i><strong
                            th:text="${income.incomeEntity.time}"></strong></span><span
                            class="fr tit-site"><i></i> <strong
                            th:text="${income.mall_userEntity.name}"> </strong> </span></div>
                    <div class="list-main">
                        <div class="main-l" style="width: 100%;text-align: center;"><span
                                style="font-size: 27px;color: red"
                                th:text="${income.incomeEntity.income_amount}">500</span><i>元</i>
                        </div>
                    </div>
                </a>
            </div>

            <!--房-->
            <!--<div class="index-pad"><a class="index-list index-fang" href="#">-->
            <!--<div class="list-tit clear"><span class="fl tit-name"><i></i><strong>HBSF-FFFO-0021</strong></span>-->
            <!--</div>-->
            <!--<div class="list-main">-->
            <!--<div class="main-l"><span class="per">15.0<i>%</i></span> <span class="add">A</span></div>-->
            <!--<div class="main-m main-m-1"><span>80 <i>万</i></span></div>-->
            <!--<div class="main-m main-m-2"><span class="day">180<i>天</i></span></div>-->
            <!--<div class="main-r"><span class="circle-gray"></span> <span class="val-txt">回款中</span></div>-->
            <!--</div>-->
            <!--</a></div>-->
            <!--end-->
        </div>
        <h2 id="moreInfo"  style="color: #184974;text-align: center;padding: 0;">加载更多</h2>
    </div>

    <div class="invest_menuinfo" id="con_one_2" style="display:none;background: #eee">

        <ul class=" ui-choose " id="selecttime2" style="text-align: center; width: 100%">
            <li style="width: 33%">年</li>
            <li style="width: 33%">月</li>
            <li style=" width: 34%;">日</li>
        </ul>
        <div class="invest_menuinfo" style="background-color: rebeccapurple;">
            <div class="clear"></div>
            <ul class="term">
                <li style="width: 100%;height: 25px;"><a href="#">支出</a></li>
            </ul>
        </div>
        <div class="index-list-wrap" id="expenses">
            <!--车-->
            <div class="index-pad" th:each="expenses : ${IncomeModel.Expenses}"><a class="index-list index-fang"
                                                                                   href="#">
                <div class="list-tit clear"><span
                        class="fl tit-name"><i></i><strong th:text="${expenses.rebate_time}"></strong></span><span
                        class="fr tit-site"><i></i> <strong>林昊 </strong> </span></div>
                <div class="list-main">
                    <!--<div class="main-l" style="width: 50%;text-align: center;"><span style="font-size: 27px;color: red">500<i>元</i></span>-->
                    <!--</div>-->
                    <!--<div class="main-m main-m-1"> <span>500.<em>00</em><i>万</i></span> </div>-->
                    <!--<div class="main-m main-m-2"> <span class="day">180<i>天</i></span> </div>-->
                    <div class="main-l" style="width: 100%;text-align: center;"><span
                            style="font-size: 27px;color:#0caffa " th:text="${expenses.rebate_amount}"></span><i>元</i>
                    </div>
                </div>
            </a></div>
            <!--房-->
           <!-- <div class="index-pad"><a class="index-list index-fang" href="#">
                <div class="list-tit clear"><span class="fl tit-name"><i></i><strong>HBSF-FFFO-0021</strong></span>
                </div>
                <div class="list-main">
                    <div class="main-l"><span class="per">15.0<i>%</i></span> <span class="add">A</span></div>
                    <div class="main-m main-m-1"><span>80 <i>万</i></span></div>
                    <div class="main-m main-m-2"><span class="day">180<i>天</i></span></div>
                    <div class="main-r"><span class="circle-gray"></span> <span class="val-txt">回款中</span></div>
                </div>
            </a></div>-->

            <!--end-->
        </div>
        <h2 id="moreInfo2"  style="color: #184974;text-align: center;padding: 0;">加载更多</h2>
    </div>

    <!--<script src="/funds/jquery.min.js?v=2.1.4"></script>-->

</div>
<script src="/funds/jquery.js"></script>
<script src="/funds/ui-choose.js"></script>
<script>
    $('.ui-choose').ui_choose();

    $(document).ready(function () {
        // 将所有.ui-choose实例化
        var times = {};
        times.index = 0;
        times.fromIndex = 1;
        times.pageSize = 10;
        times.currentPage = 1;
        // uc_01 ul 单选
        var uc_01 = $('#selecttime').data('ui-choose');
        uc_01.click = function (index, item) {

            console.log('click', index, item.text());
            if (index != times.index){
                times.fromIndex = 1;
            }
            times.index = index;

            console.log(times);
            $.ajax({
                async: true,
                type: "POST",
                url: "/funds/index",//注意路径
                data: times,
                dataType: "json",
                success: function (data) {

                    console.log(JSON.stringify(data, null, 4));
                    //清空
                    $("#incomes").empty();
                    if (data.indexpages != null && times.index != 2) {

                        var da = data.indexpages;
                        for (var i = 0; i < da.length; i++) {
                            var d = da[i];
                            var str = '<div class="index-pad">\n' +
                                '            <a class="index-list index-fang" href="#">\n' +
                                '                <div class="list-tit clear"><span\n' +
                                '                        class="fl tit-name"><i></i><strong\n' +
                                '                        >' + d.times + '</strong></span><span\n' +
                                '                        class="fr tit-site"><i></i> <strong\n' +
                                '                        th:text=""> </strong> </span></div>\n' +
                                '                <div class="list-main">\n' +
                                '                    <div class="main-l" style="width: 100%;text-align: center;"><span\n' +
                                '                            style="font-size: 27px;color: red"\n' +
                                '                            >' + d.income_amount + '</span><i>元</i>\n' +
                                '                    </div>\n' +
                                '                </div>\n' +
                                '            </a>\n' +
                                '        </div>';

                            $("#incomes").append(str);

                        }
                        var page = data.pageEntity;
                        times.fromIndex = page.currentPage+1;
                        times.pageSize = page.pageSize;
                        times.currentPage = page.currentPage;
                        if (page.nextPage) {
                            $("#moreInfo").show();

                        }else {
                            $("#moreInfo").hide();
                        }
                    }
                    //显示日的
                    if (data.indexpages != null && times.index == 2){
                        var dat = data.indexpages;
                        for (var j = 0; j < dat.length; j++) {
                            var stmp = dat[j];
                            var strs = '<div class="index-pad">\n' +
                                '                <a class="index-list index-fang" href="#">\n' +
                                '                    <div class="list-tit clear"><span\n' +
                                '                            class="fl tit-name"><i></i><strong\n' +
                                '                            >'+stmp.incomeEntity.time+'</strong></span><span\n' +
                                '                            class="fr tit-site"><i></i> <strong\n' +
                                '                            ">'+stmp.mall_userEntity.name+' </strong> </span></div>\n' +
                                '                    <div class="list-main">\n' +
                                '                        <div class="main-l" style="width: 100%;text-align: center;"><span\n' +
                                '                                style="font-size: 27px;color: red"\n' +
                                '                                >'+stmp.incomeEntity.income_amount+'</span><i>元</i>\n' +
                                '                        </div>\n' +
                                '                    </div>\n' +
                                '                </a>\n' +
                                '            </div>';

                            $("#incomes").append(strs);

                        }
                        var pages = data.pageEntity;
                        times.fromIndex = pages.currentPage+1;
                        times.pageSize = pages.pageSize;
                        times.currentPage = pages.currentPage;
                        if (pages.nextPage) {
                            $("#moreInfo").show();

                        }else {
                            $("#moreInfo").hide();
                        }
                    }

                },
                error: function (data) {
                    console.log("获取数据失败！");
                }

            });


        };
        //加载更多
        $("#moreInfo").click(function () {
            // console.log(JSON.stringify(times,null,4));

            $.ajax({
                async: true,
                type: "POST",
                url: "/funds/index",//注意路径
                data: times,
                dataType: "json",
                success: function (data) {

                    console.log(JSON.stringify(data,null,4));
                    if (data.indexpages != null && times.index != 2) {
                        var da = data.indexpages;
                        for (var i = 0; i < da.length; i++) {
                            var d = da[i];
                            var str = '<div class="index-pad">\n' +
                                '            <a class="index-list index-fang" href="#">\n' +
                                '                <div class="list-tit clear"><span\n' +
                                '                        class="fl tit-name"><i></i><strong\n' +
                                '                        >' + d.times + '</strong></span><span\n' +
                                '                        class="fr tit-site"><i></i> <strong\n' +
                                '                        th:text=""> </strong> </span></div>\n' +
                                '                <div class="list-main">\n' +
                                '                    <div class="main-l" style="width: 100%;text-align: center;"><span\n' +
                                '                            style="font-size: 27px;color: red"\n' +
                                '                            >' + d.income_amount + '</span><i>元</i>\n' +
                                '                    </div>\n' +
                                '                </div>\n' +
                                '            </a>\n' +
                                '        </div>';

                            $("#incomes").append(str);

                        }
                        var page = data.pageEntity;
                        times.fromIndex = page.currentPage + 1;
                        times.pageSize = page.pageSize;
                        times.currentPage = page.currentPage;
                        if (page.nextPage) {
                            $("#moreInfo").show();

                        } else {
                            $("#moreInfo").hide();
                        }
                    }
                    //显示日的
                    if (data.indexpages != null && times.index == 2){
                        var dat = data.indexpages;
                        for (var j = 0; j < dat.length; j++) {
                            var stmp = dat[j];
                            var strs = '<div class="index-pad">\n' +
                                '                <a class="index-list index-fang" href="#">\n' +
                                '                    <div class="list-tit clear"><span\n' +
                                '                            class="fl tit-name"><i></i><strong\n' +
                                '                            >'+stmp.incomeEntity.time+'</strong></span><span\n' +
                                '                            class="fr tit-site"><i></i> <strong\n' +
                                '                            ">'+stmp.mall_userEntity.name+' </strong> </span></div>\n' +
                                '                    <div class="list-main">\n' +
                                '                        <div class="main-l" style="width: 100%;text-align: center;"><span\n' +
                                '                                style="font-size: 27px;color: red"\n' +
                                '                                >'+stmp.incomeEntity.income_amount+'</span><i>元</i>\n' +
                                '                        </div>\n' +
                                '                    </div>\n' +
                                '                </a>\n' +
                                '            </div>';

                            $("#incomes").append(strs);
                        }
                        var pages = data.pageEntity;
                        times.fromIndex = pages.currentPage+1;
                        times.pageSize = pages.pageSize;
                        times.currentPage = pages.currentPage;
                        if (pages.nextPage) {
                            $("#moreInfo").show();

                        }else {
                            $("#moreInfo").hide();
                        }
                    }
                },
                error: function (data) {
                    console.log("获取数据失败！");
                }


            });



        });


    });

    //支出
    $(document).ready(function () {
        // 将所有.ui-choose实例化
        var times2 = {};
        times2.index = 0;
        times2.fromIndex = 1;
        times2.pageSize = 10;
        times2.currentPage = 1;
        // uc_01 ul 单选
        var uc_01 = $('#selecttime2').data('ui-choose');
        uc_01.click = function (index, item) {

            console.log('click', index, item.text());
            if (index != times2.index){
                times2.fromIndex = 1;
            }
            times2.index = index;

            console.log(times2);
            $.ajax({
                async: true,
                type: "POST",
                url: "/funds/expenses",//注意路径
                data: times2,
                dataType: "json",
                success: function (data) {

                    console.log(JSON.stringify(data, null, 4));
                    //清空
                    $("#expenses").empty();
                    if (data.indexpages != null && times2.index != 2) {

                        var da = data.indexpages;
                        for (var i = 0; i < da.length; i++) {
                            var d = da[i];
                            var str = '<div class="index-pad">\n' +
                                '            <a class="index-list index-fang" href="#">\n' +
                                '                <div class="list-tit clear"><span\n' +
                                '                        class="fl tit-name"><i></i><strong\n' +
                                '                        >' + d.times + '</strong></span><span\n' +
                                '                        class="fr tit-site"><i></i> <strong\n' +
                                '                        th:text=""> </strong> </span></div>\n' +
                                '                <div class="list-main">\n' +
                                '                    <div class="main-l" style="width: 100%;text-align: center;"><span\n' +
                                '                            style="font-size: 27px;color:#0caffa "\n' +
                                '                            >' + d.income_amount + '</span><i>元</i>\n' +
                                '                    </div>\n' +
                                '                </div>\n' +
                                '            </a>\n' +
                                '        </div>';

                            $("#expenses").append(str);

                        }
                        var page = data.pageEntity;
                        times2.fromIndex = page.currentPage+1;
                        times2.pageSize = page.pageSize;
                        times2.currentPage = page.currentPage;
                        if (page.nextPage) {
                            $("#moreInfo2").show();

                        }else {
                            $("#moreInfo2").hide();
                        }
                    }
                    //显示日的
                    if (data.indexpages != null && times2.index == 2){
                        var dat = data.indexpages;
                        for (var j = 0; j < dat.length; j++) {
                            var stmp = dat[j];
                            var strs = '<div class="index-pad">\n' +
                                '                <a class="index-list index-fang" href="#">\n' +
                                '                    <div class="list-tit clear"><span\n' +
                                '                            class="fl tit-name"><i></i><strong\n' +
                                '                            >'+stmp.rebate_time+'</strong></span><span\n' +
                                '                            class="fr tit-site"><i></i> <strong\n' +
                                '                            "> </strong> </span></div>\n' +
                                '                    <div class="list-main">\n' +
                                '                        <div class="main-l" style="width: 100%;text-align: center;"><span\n' +
                                '                                style="font-size: 27px;color:#0caffa "\n' +
                                '                                >'+stmp.rebate_amount+'</span><i>元</i>\n' +
                                '                        </div>\n' +
                                '                    </div>\n' +
                                '                </a>\n' +
                                '            </div>';

                            $("#expenses").append(strs);

                        }
                        var pages = data.pageEntity;
                        times2.fromIndex = pages.currentPage+1;
                        times2.pageSize = pages.pageSize;
                        times2.currentPage = pages.currentPage;
                        if (pages.nextPage) {
                            $("#moreInfo2").show();

                        }else {
                            $("#moreInfo2").hide();
                        }
                    }

                },
                error: function (data) {
                    console.log("获取数据失败！");
                }

            });


        };
        //加载更多
        $("#moreInfo2").click(function () {
            // console.log(JSON.stringify(times,null,4));

            $.ajax({
                async: true,
                type: "POST",
                url: "/funds/expenses",//注意路径
                data: times2,
                dataType: "json",
                success: function (data) {

                    console.log(JSON.stringify(data,null,4));
                    if (data.indexpages != null && times2.index != 2) {
                        var da = data.indexpages;
                        for (var i = 0; i < da.length; i++) {
                            var d = da[i];
                            var str = '<div class="index-pad">\n' +
                                '            <a class="index-list index-fang" href="#">\n' +
                                '                <div class="list-tit clear"><span\n' +
                                '                        class="fl tit-name"><i></i><strong\n' +
                                '                        >' + d.times + '</strong></span><span\n' +
                                '                        class="fr tit-site"><i></i> <strong\n' +
                                '                        th:text=""> </strong> </span></div>\n' +
                                '                <div class="list-main">\n' +
                                '                    <div class="main-l" style="width: 100%;text-align: center;"><span\n' +
                                '                            style="font-size: 27px;color:#0caffa "\n' +
                                '                            >' + d.income_amount + '</span><i>元</i>\n' +
                                '                    </div>\n' +
                                '                </div>\n' +
                                '            </a>\n' +
                                '        </div>';

                            $("#expenses").append(str);

                        }
                        var page = data.pageEntity;
                        times2.fromIndex = page.currentPage + 1;
                        times2.pageSize = page.pageSize;
                        times2.currentPage = page.currentPage;
                        if (page.nextPage) {
                            $("#moreInfo2").show();

                        } else {
                            $("#moreInfo2").hide();
                        }
                    }
                    //显示日的
                    if (data.indexpages != null && times2.index == 2){
                        var dat = data.indexpages;
                        for (var j = 0; j < dat.length; j++) {
                            var stmp = dat[j];
                            var strs = '<div class="index-pad">\n' +
                                '                <a class="index-list index-fang" href="#">\n' +
                                '                    <div class="list-tit clear"><span\n' +
                                '                            class="fl tit-name"><i></i><strong\n' +
                                '                            >'+stmp.rebate_time+'</strong></span><span\n' +
                                '                            class="fr tit-site"><i></i> <strong\n' +
                                '                            "> </strong> </span></div>\n' +
                                '                    <div class="list-main">\n' +
                                '                        <div class="main-l" style="width: 100%;text-align: center;"><span\n' +
                                '                                style="font-size: 27px;color:#0caffa "\n' +
                                '                                >'+stmp.rebate_amount+'</span><i>元</i>\n' +
                                '                        </div>\n' +
                                '                    </div>\n' +
                                '                </a>\n' +
                                '            </div>';

                            $("#expenses").append(strs);
                        }
                        var pages = data.pageEntity;
                        times2.fromIndex = pages.currentPage+1;
                        times2.pageSize = pages.pageSize;
                        times2.currentPage = pages.currentPage;
                        if (pages.nextPage) {
                            $("#moreInfo2").show();

                        }else {
                            $("#moreInfo2").hide();
                        }
                    }
                },
                error: function (data) {
                    console.log("获取数据失败！");
                }


            });



        });


    });


</script>
</body>
</html>
